<h1>{{ title$ | async }}</h1>

<blockquote>
  {{ description }}
</blockquote>

<app-filter-bar
  [entries]="(addresses$ | async).size"
  (toggleView)="toggleDisplay($event)"
></app-filter-bar>

<div *ngIf="isDisplayed">
  <div appNew [address]="content.value" [ngClass]="{addresswrapper: true, isodd: content.value.id % 2}" *ngFor="let content of (addresses$ | async) | keyvalue">
    <a routerLink="/address/{{ content.key }}">{{ content.value.lastName }}</a> <span>{{ content.value.firstName }}</span>
    <div>
      <button type="button" (click)="doDelete(content.value)">
        X
      </button>
    </div>
  </div>
</div>

<button mat-button color="warn" type="button" [disabled]="isFormVisible" (click)="addAddress()">
  Ajouter
</button>

<ng-container *ngIf="isFormVisible">
  <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput type="text" formControlName="lastName" placeholder="Nom du contact">
      <mat-error *ngIf="lastName.touched && lastName.invalid">
Le nom est obligatoire !
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="firstName" placeholder="Prénom">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="phoneNumber" placeholder="Téléphone">
      <mat-error *ngIf="phoneNumber.touched && phoneNumber.invalid">
        Le téléphone est obligatoire !
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="email" formControlName="email" placeholder="e-mail">
      <mat-error *ngIf="email.touched && email.invalid">
        <span *ngIf="email.hasError('required')">
          L'e-mail est obligatoire
        </span>
        <span *ngIf="email.hasError('email')">
          L'email saisi n'est pas conforme
        </span>
      </mat-error>
    </mat-form-field>

    <div>
      <button mat-button color="primary" [disabled]="addressForm.invalid">
        Ajouter
      </button>
    </div>

    {{ addressForm.value | json }}
  </form>
</ng-container>
